<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{page.title}}</title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<h1><a href="http://baserocket.com/" title="The most recent interviews.">baserocket</a></h1>
			<p id="tagline">A blog for startups. What do people use to get stuff launched?</p>
		</header>
		<nav>
			<ul>
				<li><a href="/projects/" title="All the other interviews.">Archives</a></li>
				<li><a href="http://baserocket.com/about/" title="A little more info about the site.">About</a></li>
				<li><a href="http://baserocket.com/community/" title="Other interviews by people like you.">Community</a></li>
			</ul>
		</nav>
		<section id="contents">
		{{content}}
		</section>
		<footer>
	  	</footer>
	</body>
</html>