<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
</head>
<body>
	<header>
		<{% if page.title_element %}{{ page.title_element }}{% else %}h2{% endif %} class="site_title"><a href="/">Charlie Park</a> <span style="color:#ccc;font-size:19px;"></span></{% if page.title_element %}{{ page.title_element }}{% else %}h2{% endif %}>
		<ul id="nav"><li class="nav_list_item" style="text-align:left"><a class="nav_list_link" href="/about">about</a></li><li class="nav_list_item" style="right:10px"><a class="nav_list_link" href="/projects">projects</a></li><li class="nav_list_item" style="text-align:right"><a class="nav_list_link" href="/archives">archives</a></li></ul>
		<form id="search" action="http://google.com/search"><input type="text" name="q" placeholder="search" /><input type="hidden" name="q" value="+site%3Ametafilter.com" /></form>
	</header>
	{{content}}
	<footer>
  </footer>
</body>
</html>